.cast {
  padding: 20px 30px;
}
.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 8px;
}
.item {
  width: calc((100% - 72px) / 10);
}
.item:hover {
  scale: 1.15;
}
.name {
  color: black;
  font-style: italic;
}
